body {
    background-color: #1c1c1c!important;
}

.navbar {
    height:100px;
}

.topic {
    width: 250px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    display: inline-flex;
    background-color: red;
}

.form-control {
    font-size: 0.9rem!important;
    color: white!important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white!important;
}

input.form-control:focus {
    outline-width: 0!important;
}